.btn1 {
	--bs-btn-padding-x: 0.3rem;
	--bs-btn-padding-y: 0.15rem;
	--bs-btn-font-family: ;
	--bs-btn-font-size: 1rem;
	--bs-btn-font-weight: 400;
	--bs-btn-line-height: 1.5;
	/* --bs-btn-color: #212529; */
	--bs-btn-bg: transparent;
	--bs-btn-border-width: 1px;
	/* --bs-btn-border-color: transparent; */
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	--bs-btn-disabled-opacity: 0.65;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
	display: inline-block;
	padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
	font-family: var(--bs-btn-font-family);
	font-size: var(--bs-btn-font-size);
	font-weight: var(--bs-btn-font-weight);
	line-height: var(--bs-btn-line-height);
	color: var(--bs-btn-color);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
	border-radius: var(--bs-btn-border-radius);
	background-color: var(--bs-btn-bg);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn2 {
	--bs-btn-padding-x: 0.3rem;
	--bs-btn-padding-y: 0.15rem;
	--bs-btn-font-family: ;
	--bs-btn-font-size: 1rem;
	--bs-btn-font-weight: 400;
	--bs-btn-line-height: 1.5;
	/* --bs-btn-color: #212529; */
	--bs-btn-bg: transparent;
	--bs-btn-border-width: 1px;
	/* --bs-btn-border-color: transparent; */
	--bs-btn-border-radius: 0.375rem;
	--bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	--bs-btn-disabled-opacity: 0.65;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
	display: inline-block;
	padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
	font-family: var(--bs-btn-font-family);
	font-size: var(--bs-btn-font-size);
	font-weight: var(--bs-btn-font-weight);
	line-height: var(--bs-btn-line-height);
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
	border-radius: var(--bs-btn-border-radius);
	background-color: #198754;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.bannerimg {
	display: inline-block !important;
	width: 30% !important;
	height: 50% !important;
}

.error {
	color: #dc3545;
	font-size: 14px;
}

.alerts {
	margin: 20px auto;
	padding: 20px 13px;
	border-radius: 5px;
	z-index: 99;
	top: 12%;
	right: 2%;
}

.has-success input {
	background: #c9ffb8;
	border: 1px solid #1db121;
}

.has-error input {
	background: #ffb8b8;
	border: 1px solid #ed3939;
}

.has-error select {
	background: #ffb8b8;
	border: 1px solid #ed3939;
}

.has-success select {
	background-color: #c9ffb8;
	border: 1px solid #1db121;
}

.help-block {
	color: red;

}

.font-medium {
	font-weight: 500;
}

.themeBtn {
	position: relative;
	margin-left: 75%;
	margin-top: -15%;
}

.themecss {
	opacity: 0;

}

.add-scroll {
	max-height: 220px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #e5e5e5 #f3f3f3;

}

thead.table-light th {
	background: #5713ff;
	color: #fff;
}


.btn-purple {
	background-color: #5713ff !important;
	border: #5713ff;
	color: #fff;
}

.border-purple {
	border-color: #5713ff !important;
}


/* ////////////////////////// */
.card-title {
	margin-bottom: 20px;
	font-size: 18px;
	color: #878787;
	font-weight: 100;
}

.card-title span {
	color: #5713ff;
	font-weight: 500;
}

/* .card-box-sec {margin-bottom: 20px;padding: 0px;border-radius: 10px;border-top: 5px solid #5713ff;border-left: 1px dashed #cccccc;border-bottom: 1px dashed #cccccc;border-right: 1px dashed #cccccc;} */

.admin {
	margin-bottom: 20px;
	padding: 0px;
	border-radius: 10px;
	border-top: 5px solid #746AB0;
	border-left: 1px dashed #cccccc;
	border-bottom: 1px dashed #cccccc;
	border-right: 1px dashed #cccccc;
}

.user {
	margin-bottom: 20px;
	padding: 0px;
	border-radius: 10px;
	border-top: 5px solid #288BA8;
	border-left: 1px dashed #cccccc;
	border-bottom: 1px dashed #cccccc;
	border-right: 1px dashed #cccccc;
}

.user-ticket-box {
	background: #f6f6f6;
	padding: 15px 15px 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-ticket-desc {
	padding: 15px 15px;
}

.user-acth-btn {
	text-align: right;
}

.atch-btn {
	background: #e8e8e8;
	color: #515151;
	border: none;
	padding: 6px 18px;
	border-radius: 5px;
}

.user-acth-btn .atch-btn i {
	padding-right: 8px;
}

.ad-tic-form {
	background: #fff;
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
	border-radius: 0.375rem;
}

.ad-tic-title {
	border-bottom: 1px solid #ebebeb;
	padding: 10px 15px;
}

.ad-tic-title h5 {
	margin: 0;
	font-size: 18px;
	font-weight: 300;
}

.ad-ticket-fr-box {
	padding: 10px 15px;
}

.ad-tic-profile {
	background: #fff;
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
	border-radius: 0.375rem;
}

.contact-tic-form {
	padding: 10px 15px;
}

.profile-img {
	display: flex;
	gap: 10px;
	border-bottom: 2px dashed #c6c6c6;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.pf-img img {
	width: 60px;
	height: 60px;
	border-radius: 10px;
}

.pf-name h6 {
	display: block;
	font-size: 18px;
	color: #5713ff;
}

.via-email-contet h6 {
	margin-bottom: 20px;
}

.user-atth-btn {
	display: flex;
	justify-content: end;
	gap: 10px;
}



/* /////////////////// CC BCC Email CSS ////////////// */
.btn-box-main {
	position: relative;
}

.button-box {
	position: relative;
}

.button-box a {
	background: #ced4da;
	width: 35px;
	height: 35px;
	line-height: 35px;
	top: 0;
	right: 0;
	position: absolute;
	border-radius: 0px 5px 5px 0px;
	color: #db1919;
	text-align: center;
}

.add_button_cc button {
	position: absolute;
	top: -38px;
	right: 14px;
	background: #5713ff;
	color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	border: 0;

}

.add_button_cc button i {
	font-size: 14px;
	margin: auto;
}

.button-box .remove_button_cc {
	right: 12px;
	top: 7px;
}

.add_button button {
	position: absolute;
	top: -38px;
	right: 14px;
	background: #5713ff;
	color: #fff;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	border: 0;

}

.add_button button i {
	font-size: 14px;
	margin: auto;
}

.button-box .remove_button {
	right: 12px;
	top: 7px;
}

/* ////////////////Ticket Sec //////////////// */
.ticket-sec {
	padding: 50px 0px;
}

.ticket-form-sec {
	position: relative;
	background: #fcfcfc;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 25px #f1f1f1;
	border-top: 5px solid #017eff;
}

.ticket-form-sec .form-select {
	padding: 0.375rem 0.95rem;
	border-radius: 10px;
	min-height: 50px;
	border: 1px solid #d6d6d6
}

.dropzone {
	width: 100%;
	border-radius: 10px;
	border: 1px solid #ced4da;
}

.dropzone .dz-message .text {
	color: #0098bd;
}

.table_responsive {
	padding-top: 20px;
}

.table_responsive table {
	border-collapse: separate;
	border-spacing: 0 0px;
	text-align: left;
}

.table_responsive thead th:first-of-type {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-left: 30px;
}

.table_responsive thead th {
	color: #65878F;
	font-weight: 500;
	vertical-align: top;
	border-bottom: 0;
	background-color: #EDF6F9;
	text-align: left;
}

.table_responsive table td:first-of-type {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 1px solid transparent;
	padding-left: 30px;
	border-top: 1px solid transparent;
}

.table_responsive table td {
	background: #ffffff;
	border-top: 1px solid transparent;
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
	border-bottom: 1px solid rgba(32, 188, 227, 0.1);
}

.edit-btn-ticket {
	background: #009cff;
	border: none;
	padding: 5px 15px;
	color: #fff;
	border-radius: 5px;
}

.edit-btn-ticket:hover {
	background-color: #00609d;
	color: #fff;
}

.circle-priority i {
	margin-right: 5px;
	color: #ff6606;
	font-size: 10px !important;
}

.circle-priority.cs2 i {
	color: #0b5ca3 !important;
}

.circle-priority.cs3 i {
	color: red !important;
}

.status-re i {
	margin-right: 5px;
	color: #ffc206;
	font-size: 10px !important;
}

.status-re.sr2 i {
	color: #8dcaff !important;
}

.status-re.sr3 i {
	color: #218357 !important;
}

/* .open-close i {margin-right: 5px;color: #068d02;font-size: 14px;}
.open-close.oc-close i{color:#ef0023 ;} */

.circle-priority.cs {
	margin-right: 5px;
	color: #ff6606;
	font-size: 15px !important;
}

.circle-priority.cs2 {
	color: #0b5ca3 !important
}

.circle-priority.cs3 {
	color: red !important;
}

.status-re {
	margin-right: 5px;
	color: #ffc206;
	font-size: 15px !important;
}

.status-re.sr2 {
	color: #8dcaff !important;
}

.status-re.sr3 {
	color: #218357 !important;
}

/* .open-close  {margin-right: 5px;color: #068d02;font-size: 14px;}
.open-close.oc-close {color:#ef0023 ;} */
.time {
	color: #9d9d9d;
}

.inner-title-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inner-title-box .title-inner {
	margin: 0;
}

.btn-create-order {
	border: 1px solid #275f8e;
	padding: 10px 30px;
	border-radius: 5px;
}

.btn-create-order i {
	margin-right: 10px;
}

.btn-create-order:hover {
	background: #275f8e;
	border-color: #275f8e;
	color: #fff;
}


/* ///////////// View tickets  ///////////// */
.card-title {
	margin-bottom: 20px;
	font-size: 18px;
	color: #878787;
	font-weight: 100;
}

.card-title span {
	color: #0065ff;
	font-weight: 500;
}

/* .card-box-sec {margin-bottom: 20px;padding: 0px;border-radius: 10px;border-top: 5px solid #0065ff;border-left: 1px dashed #cccccc;border-bottom: 1px dashed #cccccc;border-right: 1px dashed #cccccc;} */
.user-ticket-box {
	background: #f6f6f6;
	padding: 15px 15px 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-ticket-desc {
	padding: 15px 15px;
}

.user-acth-btn {
	text-align: right;
}

.atch-btn {
	background: #e8e8e8;
	color: #515151;
	border: none;
	padding: 6px 18px;
	border-radius: 5px;
}

.user-acth-btn .atch-btn i {
	padding-right: 8px;
}

.ad-tic-form {
	border: 0;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
	border-radius: 0.375rem;
}

.ad-tic-title {
	border-bottom: 1px solid #ebebeb;
	padding: 10px 15px;
}

.ad-tic-title h5 {
	margin: 0;
	font-size: 18px;
	font-weight: 300;
}

.ad-ticket-fr-box {
	padding: 10px 15px;
}

.ad-tic-profile {
	background: #fff;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
	border-radius: 0.375rem;
}

.contact-tic-form {
	padding: 10px 15px;
}

.profile-img {
	display: flex;
	gap: 10px;
	border-bottom: 2px dashed #c6c6c6;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.pf-img img {
	width: 60px;
	height: 60px;
	border-radius: 10px;
}

.pf-name h6 {
	display: block;
	font-size: 18px;
	color: #5713ff;
}

.via-email-contet h6 {
	margin-bottom: 20px;
}

.ad-ticket-fr-box span {
	display: block;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	border: 1px solid #ced4da;
	border-radius: 0.375rem;
}

.ad-ticket-fr-box .status-re {
	font-size: 16px;
}

.ad-ticket-fr-box .circle-priority {
	font-size: 16px;
}

.profile-category-box a:hover {
	color: #275f8e;
}

[draggable=true] {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

ul.moveable {
	list-style: none;
	margin: 0px;
}

ul.moveable li {
	list-style-image: none;
	margin: 10px;
	border: 1px solid #ccc;
	padding: 4px;
	border-radius: 4px;
	color: #666;
	cursor: move;
}

ul.moveable li:hover {
	background-color: #eee;
}

/* priority css */
.low_clr {
	background-color: #22c55e !important;
	color: white;
	width: 100px;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	text-align: center;

}

.medium_clr {
	background-color: #FFBF00 !important;
	color: white;
	width: 100px;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	text-align: center;

}

.high_clr {
	background-color: #ef4444 !important;
	color: white;
	width: 100px;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	text-align: center;
}

/* status css */
.open_clr {
	background-color: #22c55e !important;
	color: white;
	width: 100px;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	text-align: center;
}

.close_clr {
	background-color: #dc2626 !important;
	color: white;
	width: 100px;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	text-align: center;
}

.success_clr {
	background-color: #14532d !important;
	color: white;
	width: 100px;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	text-align: center;
}

.inprogress_clr {
	background-color: #f97316 !important;
	color: white;
	width: 100px;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	text-align: center;
}

.inhold_clr {
	background-color: #3b82f6 !important;
	color: white;
	width: 100px;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	text-align: center;
}

.pending_clr {
	background-color: #f9ef6a !important;
	color: white;
	width: 100px;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	text-align: center;
}

.green_clr {
	background-color: #14532d !important;
	color: white;
	width: 100px;
	display: inline-block;
	border-radius: 10px;
	width: 150px;
	text-align: center;
}

/*end*/
.task_ticket {
	color: #978924;
}

.customer {
	color: #4eb2b7;
}

.agent {
	color: #cd5d0e;
}

.overlay1 {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgb(34 34 34 / 73%);
	z-index: 99;
}

.overlay__inner {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.overlay__content {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.spinner {
	width: 75px;
	height: 75px;
	display: inline-block;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.05);
	border-top-color: #fff;
	animation: spin 1s infinite linear;
	border-radius: 100%;
	border-style: solid;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.DTFC_Cloned {
	display: none !important;
}

/*=============== Toggle css ====================*/
.can-toggle {
	position: relative;
}

.can-toggle *,
.can-toggle *:before,
.can-toggle *:after {
	box-sizing: border-box;
}

.can-toggle input[type=checkbox] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.can-toggle input[type=checkbox][disabled]~label {
	pointer-events: none;
}

.can-toggle input[type=checkbox][disabled]~label .can-toggle__switch {
	opacity: 0.4;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:before {
	content: attr(data-unchecked);
	left: 0;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:after {
	content: attr(data-checked);
}

.can-toggle label {
	user-select: none;
	position: relative;
	display: flex;
	align-items: center;
}

.can-toggle label .can-toggle__label-text {
	flex: 1;
	padding-left: 32px;
}

.can-toggle label .can-toggle__switch {
	position: relative;
}

.can-toggle label .can-toggle__switch:before {
	content: attr(data-checked);
	position: absolute;
	top: 0;
	text-transform: uppercase;
	text-align: center;
}

.can-toggle label .can-toggle__switch:after {
	content: attr(data-unchecked);
	position: absolute;
	z-index: 1;
	text-transform: uppercase;
	text-align: center;
	background: white;
	transform: translate3d(0, 0, 0);
}

.can-toggle input[type=checkbox][disabled]~label {
	color: rgba(234, 0, 48, 0.5);
}

.can-toggle input[type=checkbox]:focus~label .can-toggle__switch,
.can-toggle input[type=checkbox]:hover~label .can-toggle__switch {
	background-color: #ea0030;
}

.can-toggle input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:hover~label .can-toggle__switch:after {
	color: #b70026;
}

.can-toggle input[type=checkbox]:hover~label {
	color: #d1002b;
}

.can-toggle input[type=checkbox]:checked~label:hover {
	color: #55bc49;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch {
	background-color: #70c767;
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:after {
	color: #4fb743;
}

.can-toggle input[type=checkbox]:checked:focus~label .can-toggle__switch,
.can-toggle input[type=checkbox]:checked:hover~label .can-toggle__switch {
	background-color: #5fc054;
}

.can-toggle input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
	color: #47a43d;
}

.can-toggle label .can-toggle__label-text {
	flex: 1;
}

.can-toggle label .can-toggle__switch {
	transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
	background: #ff0538;
}

.can-toggle label .can-toggle__switch:before {
	color: rgba(255, 255, 255, 0.5);
}

.can-toggle label .can-toggle__switch:after {
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
	transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
	color: #ea0030;
}

.can-toggle input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:hover~label .can-toggle__switch:after {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle input[type=checkbox]:checked~label .can-toggle__switch:after {
	transform: translate3d(65px, 0, 0);
}

.can-toggle input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle label {
	font-size: 14px;
}

.can-toggle label .can-toggle__switch {
	height: 36px;
	flex: 0 0 134px;
	border-radius: 4px;
}

.can-toggle label .can-toggle__switch:before {
	left: 67px;
	font-size: 12px;
	line-height: 36px;
	width: 67px;
	padding: 0 12px;
}

.can-toggle label .can-toggle__switch:after {
	top: 2px;
	left: 2px;
	border-radius: 2px;
	width: 65px;
	line-height: 32px;
	font-size: 12px;
}

.can-toggle label .can-toggle__switch:hover:after {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-small input[type=checkbox]:focus~label .can-toggle__switch:after,
.can-toggle.can-toggle--size-small input[type=checkbox]:hover~label .can-toggle__switch:after {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-small input[type=checkbox]:checked~label .can-toggle__switch:after {
	transform: translate3d(44px, 0, 0);
}

.can-toggle.can-toggle--size-small input[type=checkbox]:checked:focus~label .can-toggle__switch:after,
.can-toggle.can-toggle--size-small input[type=checkbox]:checked:hover~label .can-toggle__switch:after {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.can-toggle.can-toggle--size-small label {
	font-size: 13px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch {
	height: 28px;
	flex: 0 0 90px;
	border-radius: 2px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch:before {
	left: 45px;
	font-size: 10px;
	line-height: 28px;
	width: 45px;
	padding: 0 12px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch:after {
	top: 1px;
	left: 1px;
	border-radius: 1px;
	width: 44px;
	line-height: 26px;
	font-size: 10px;
}

.can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.not_access {
	opacity: 0.4;
	cursor: not-allowed;
}

.column-divide ul{
	
column-count: 3;
padding: 0;
word-break: break-all;
}

/*=============== Toggle css end====================*/